/notebooks/.ipynb_checkpoints/
*.pyc
big-data

/.DS_Store
/cloudy/models/.ipynb_checkpoints/
/lib/.hypothesis/
/notebooks/.idea/
/notebooks/ngc346-orig/.idea/
/data-peter/ngc346-ha-plus-wings-cube-peter.fits
/data/n346-lines/all-lines-c007-chop-mean/.DS_Store
/data/n346-lines/emili/em4
/notebooks/ngc346-orig/.ipynb_checkpoints/
/data/ngc346-ha-plus-wings-cube.fits
/notebooks/ngc346-new/.ipynb_checkpoints/
/notebooks/ngc346-h2/.ipynb_checkpoints/
/figs/*.afdesign~lock
/figs/drl-regions-comparison-annotated.afdesign~lock~
/notebooks/spitzer/.ipynb_checkpoints/
/figs/ngc346-spitzer-irs-multi-images.afdesign~lock~
/figs/ngc346-h2-excitation-annotated.afdesign~lock~
